/* v1.0 | 20080212 */

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size:100%;
	vertical-align: baseline;
	background: transparent;
	-webkit-box-shadow:none;
	-webkit-appearance: none; 
	line-height:1.6em;
}
ol, ul {
	list-style: none;
}
