body {
    background:#eee;
    font-family:Helvetica;
    line-height:1.6em;
}
#nav {
    background:#000;
    background: -webkit-gradient(linear, left top, left bottom, from(#2c2c2a), to(#000000));
    color:white;
    display:block;
    font-weight:bold;
}
#nav li {
    display:block;
    float:left;
    width:98px;
    margin:4px;
    margin-left:5px;
    line-height: 3em;
    text-align:center;
    font-size:90%;
}
#nav li.selected {
    background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#252525), color-stop(49%, #353535), color-stop(50%, #252525));
    -webkit-border-radius:4px;
    color:#fff;
    text-shadow: 0px -1px #777;
}
#nav li:first-child {
    margin-left:4px;
}

fieldset, section {
    display:block;
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    background:white;
    border:1px solid #aaa;
    position:relative;
    margin-bottom:1em;
}
#login {
    position: absolute;
    top: 0;
    left: 0;
    background: #048;
    width: 100%;
    height: 100%;
    z-index: 9000;
}

div.row,
section li {
    border-top:1px solid #aaa;
    line-height:2.7em;
    display:relative;
}
div.row:first-child,
section li:first-child {
    border-top:0;
}
div.row input {
    text-align:right;
    line-height:2.7em;
    position:absolute;
    left:0;
    width:90%;
    margin: 0 5%;
    clear:both;
}
div.row select {
    float:right;
    margin-right:5%;
    line-height:2.7em;
}
option {
    text-align:right;
    direction:rtl;
    width:200px;
    width:100%;
}
div.row label {
    padding-left:5%;
    font-weight:bold;
}

h2 {
    line-height:3em;
}

.pane {
    display:none;
}
.pane.selected {
    display:block;
}

.hideMe {
    display:none;
}

#content, #login form {
    clear:both;
    padding:12px;
}

#balances li {
    font-weight:bold;
    padding-left:5%;
}
#balances li .amount {
    line-height: 2.7em;
    float: right;
    text-align: right;
    font-weight: bold;
    display: block;
    top: 0;
    right: 0;
    margin: 0 5%;
    padding-top:0;
    padding-bottom:0;
}
#balances #owe li .amount {
    color:#f44;
}
#balances #owed li .amount {
    color:#4d4;
}
input[type="submit"], a.button {
    display:block;
    margin:0 auto;
    width:100%;
    text-align:center;
    line-height:2em;
    font-size:20px;
    font-weight:bold;
    text-decoration:none;
    text-shadow: #fff 0px 1px 1px;
    -webkit-border-radius: 8px;
    border:3px solid #1a1a1a;
    background: -webkit-gradient(linear, left top, left bottom, from(#e8e8e8), to(#a0a0a0), color-stop(49%, #bbbbbb), color-stop(50%, #a5a5a5));
}
input[type="submit"] {
    border:1px solid #aaa;
}

/* clearfix */
#nav ul:after {
    clear:both;
    content:".";
    display:block;
    height:0;
    overflow:hidden;
    visibility:hidden;
}
